blinker==1.4
coverage==5.5
Flask==1.1.2
Flask-Script==2.0.6
Flask-Testing==0.8.1
Flask-WTF==0.14.3
funcsigs==1.0.2
httplib2==0.19.0
itsdangerous==1.1.0
Jinja2==2.11.3
linecache2==1.0.0
MarkupSafe==1.1.1
mock==4.0.3
pbr==5.5.1
pytz==2021.1
python-dotenv==0.15.0
six==1.15.0
traceback2==1.4.0
twilio==6.53.0
unittest2==1.1.0
Werkzeug==1.0.1
wheel==0.36.2
WTForms==2.3.3
