blinker==1.4
coverage==5.0.4
Flask==1.1.2
Flask-Script==2.0.6
Flask-Testing==0.8.0
Flask-WTF==0.14.3
funcsigs==1.0.2
httplib2==0.18.0
itsdangerous==1.1.0
Jinja2==2.11.2
linecache2==1.0.0
MarkupSafe==1.1.1
mock==4.0.2
pbr==5.4.4
pytz==2019.3
python-dotenv==0.12.0
six==1.14.0
traceback2==1.4.0
twilio==6.49.0
unittest2==1.1.0
Werkzeug==1.0.1
wheel==0.36.0
WTForms==2.3.3
