#main {
  padding-top:10px;
}

.demo {
  background-color:#eee;
  border:1px solid #ccc;
  padding:10px;
}

footer {
  border-top:1px solid #eee;
  padding:20px;
  margin:20px;
  text-align:center;
}

footer i {
  color:red;
}
